#ignore any user files and mymc
import/*
export/*
existing_cards/*
mymc/*
psv-converter/*

#include files explaining directory purpose
!generated\ mcp2\ files\ will\ appear\ here
!place\ files\ to\ import\ here
!place\ mymc\ v2.6g\ files\ here
!place\ psv-converter-win.exe\ here
!place\ MCP2\ folders\ from\ PS2\ dir\ here